body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

header
{
    color: rgb(18, 2, 4);
    background-color: #FFF3D7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: absolute;
    gap: 40px;
}

#logo
{
    height: 60px;
    margin: 5px;
    position: absolute;
    left: 80px;
}

#opciones
{
    height: 45px;
    position: absolute;
    top: 15px;
}

#carrito
{
    height: 45px;
    position: absolute;
    top: 10px;
    right: 3%;
}

#slogan1
{
    font-family: 'Bowlby One', cursive;
    font-family: 'Manjari', sans-serif;
    font-family: 'Shantell Sans', cursive;
    font-size: x-large;
    position: absolute;
    left: 12%;
    top: 0%;
}

.btnTop
{
    background-color: transparent;
    font-family: Arial;
    border: none;
    font-size: larger;
}

#barrabusqueda
{
    height: 45px;
    position: absolute;
    top: 10px;
    width: 47%;
    right: 16%;
    border: none;
    border-top-left-radius: 15px;   /* Top-left corner rounded */
    border-bottom-left-radius: 15px; /* Bottom-left corner rounded */
    border-top-right-radius: 15px;   /* Top-left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom-left corner rounded */
    background-image: url('../imagenes/lupa.png');
    background-size: 30px 30px; 
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-position: left 5px center; /* Positions the image to the right with a little padding */
    padding-left: 45px; 
}

#Titulo
{
    position: absolute;
    left: 14%;
    top: 15%;

}

#fotoPerfil {
    position: absolute;
    width: 100px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 200px;
    right: 27%;
    top: 15%;
    border: 3px solid rgb(79, 156, 244);
}

#foto {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centra la imagen */
}

#mas
{
    position: absolute;
    width: 1.6%;
    height: 3%;
    border-radius: 200px;
    right: 27.5%;
    top: 27%;
    font-size:;
    background-color: rgb(134, 220, 49);
    color: #FFF3D7;
    border: none;
}
    
#nombreU
{
    position: absolute;
    left: 14%;
    top: 33%;
    font-weight: bolder;
}

#Nombreusuario
{
    position: absolute;
    left: 14%;
    top: 39%;
    width: 39.5%;
    height: 4.7%;
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */
    border: 1.5px solid #7d7d7d; 
    padding-left: 14px; 
}

#Contra
{
    position: absolute;
    left: 14%;
    top: 44%;
    font-weight: bolder;
}
    
#contrasena
{
    position: absolute;
    left: 14%;
    top: 50%;
    width: 39.5%;
    height: 4%;
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */
    border: 1.5px solid #7d7d7d; 
    padding-left: 14px; 
}

#cambiar
{
    position: absolute;
    left: 60%;
    top: 49.5%;
    width: 15%;
    height: 6%;
    color: #ffffff;
    background-color:  #6ba1ed;
    border: none;
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */
}

#name
{
    position: absolute;
    left: 14%;
    top: 55%;
    font-weight: bolder;
}

#nombre
{
    position: absolute;
    left: 14%;
    top: 61%;
    width: 24.5%;
    height: 4%; 
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */
    border: 1.5px solid #7d7d7d; 
    padding-left: 14px; 
}

#lastname
{
    position: absolute;
    left: 49%;
    top: 55%;
    font-weight: bolder;
}

#apellido
{
    position: absolute;
    left: 49%;
    top: 61%;
    width: 24.5%;
    height: 4%;
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */
    border: 1.5px solid #7d7d7d; 
    padding-left: 14px; 
}

#tel
{
    position: absolute;
    left: 49%;
    top: 66%;
    font-weight: bolder;
}
    
#telefono
{
    position: absolute;
    left: 49%;
    top: 72%;
    width: 24.5%;
    height: 4%;
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */
    border: 1.5px solid #7d7d7d; 
    padding-left: 14px; 
}

#email
{
    position: absolute;
    left: 14%;
    top: 66%;
    font-weight: bolder;
}

#correo
{
    position: absolute;
    left: 14%;
    top: 72%;
    width: 24.5%;
    height: 4%;
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */
    border: 1.5px solid #7d7d7d; 
    padding-left: 14px; 
}
   
#cancelar
{
    position: absolute;
    left: 14%;
    top: 82%;
    width: 10%;
    height: 6%;
    background-color: #ffffff; 
    color: #FA9399;   
    border: 2px solid #FA9399;   
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */  
}

#guardar
{
    position: absolute;
    left: 26%;
    top: 82%;
    width: 10%;
    height: 6%;  
    color: #ffffff;
    border: none;
    background-color:  #FA9399;
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */
}

#eliminar
{
    position: absolute;
    left: 65%;
    top: 82%;
    width: 10%;
    height: 6%;  
    color: #ffffff;
    border: none;
    background-color: #6ba1ed;
    border-top-left-radius: 5px;   /* Top-left corner rounded */
    border-bottom-left-radius: 5px; /* Bottom-left corner rounded */
    border-top-right-radius: 5px;   /* Top-left corner rounded */
    border-bottom-right-radius: 5px; /* Bottom-left corner rounded */
}

.pestanamenu
{
    display: none;
    position: absolute;
    height: 100%;
    width: 380px;
    z-index: 200;
    background-color: #FFF3D7;
    padding: 10px;
    top: 0%;
    -webkit-box-shadow: 0px 0px 0px 9900px rgba(255, 248, 196, 0.5);
    box-shadow: 0px 0px 0px 9900px rgba(230, 179, 69, 0.381);
    pointer-events: auto;  /* Esto asegura que el popup siga siendo interactivo */
}

#pestanadelmenu:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    max-height: 100%;
  }

#arrow
{
    background-color: transparent;
    border: none;
    height: 20px;
    margin-left: 210px;
}
#logomenu
{
    height: 80px;
}
.botonmenu
{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    text-align: left;
    height: 8%;
}
.botonazul
{
    height: 50px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    border: none;
    width: 120px;
    background-color: #68A8C1;
    position: absolute;
    top: 16%;
    color: white;
}

#equis
{
    height: 20px;
}
#equismenu
{
    left: 88%;
    background-color: transparent;
    position: absolute;
    z-index: 2000;
    top: 3%;
}
#cerrasesion
{
    left: 13%;
}
#ayuda
{
    left: 54%;
}

#secciones
{
   position: absolute;
   top: 26%; 
}
#mapa
{
    top: 32%; 
}
.textoBotonm
{
    margin-right: 28px;
}
#Productos
{
    top: 40%; 
}
.textoBotonp
{
    margin-right: 65px;
}
#tiendas
{
    top: 48%; 
    left: 2.8%;
}
.textoBotont
{
    margin-right: 76px;
}
#Historial
{
    top: 57%; 
}
.textoBotonh
{
    margin-right: 7px;
}
#estado
{
    top: 65%; 
}
.textoBotone
{
    margin-right: 17px;
}
#cuenta
{
    position: absolute;
    top: 73%;
}
#infocuenta
{
    top: 80%;
}
.textoBotoni
{
    margin-right: -8px;
}
#conf
{ 
    left: 4%;
    top: 90%;
}
.textoBotonb
{
    margin-right: 8px;
}
#hr1menu
{
  margin-top: 25%;
}
#hr2menu
{
  margin-top: 88%;
}
