body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

header
{
    color: rgb(18, 2, 4);
    background-color: #FFF3D7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    gap: 40px;
    z-index: 10;
}

#logo
{
    height: 60px;
    margin: 5px;
    position: absolute;
    left: 80px;
}

#userimg
{
    height: 38px;
    position: absolute;
    top: 15px;
    right: 9%;
    border-radius: 50%;        /* Hace que la imagen sea un círculo */
}

#opciones
{
    height: 45px;
    position: absolute;
    top: 15px;
}

#carrito
{
    height: 45px;
    position: absolute;
    top: 10px;
    right: 3%;
}

#slogan1
{
    font-family: 'Bowlby One', cursive;
    font-family: 'Manjari', sans-serif;
    font-family: 'Shantell Sans', cursive;
    font-size: x-large;
    position: absolute;
    left: 12%;
    top: 0%;
}

.btnTop
{
    background-color: transparent;
    font-family: Arial;
    border: none;
    font-size: larger;
}

#barrabusqueda
{
    height: 45px;
    position: absolute;
    top: 10px;
    width: 47%;
    right: 16%;
    border: none;
    border-top-left-radius: 15px;   /* Top-left corner rounded */
    border-bottom-left-radius: 15px; /* Bottom-left corner rounded */
    border-top-right-radius: 15px;   /* Top-left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom-left corner rounded */
    background-image: url('../imagenes/lupa.png');
    background-size: 30px 30px; 
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-position: left 5px center; /* Positions the image to the right with a little padding */
    padding-left: 45px; 
    z-index: 10;
}

#estrella
{
    height: 20px;
    margin-right: 48px;
}

#tienda
{
    height: 20px;
    margin-right: 55px;
}

#porcentaje
{
    height: 20px;
    margin-right: 30px;
}

.busquedaRapida
{
    height: 40px;
    position: absolute;
    top: 40%;
    display: flex;
    gap: 10px;
    left: 180px;
}

.botonBusqueda
{
    border-top-left-radius: 15px;   /* Top-left corner rounded */
    border-bottom-left-radius: 15px; /* Bottom-left corner rounded */
    border-top-right-radius: 15px;   /* Top-left corner rounded */
    border-bottom-right-radius: 15px; /* Bottom-left corner rounded */
    width: 150px;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    border: 1px solid darkgray;
    border-width: 2px;
}

.textoP
{
  position: absolute;
}

#filtro
{
    top: 38%;
    left: 60px;
}
#tiendas
{
    top: 48%;
    left: 60px;
}

#promociones
{
    top: 78%;
    left: 60px;
}

#expe
{
    position: absolute;
    top: 13%;
    left: 60px;
}
#fotominipRODUCTO
{
    position: absolute;
    left: 7%;
    height: 150px;
    border-radius: 50%;        /* Hace que la imagen sea un círculo */
    overflow: hidden; 
    border: 6px solid rgb(79, 156, 244);

}


.popUpProducto
{
    display: none;
    position: absolute;
    background: #ffffff;
    top: 2%;
    margin-top: 5px;
    height: 600px;
    z-index: 200;
    padding: 10px;
    width: 92%;
    left: 2%;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 0px 9900px rgba(255, 248, 196, 0.5);
    box-shadow: 0px 0px 0px 9900px rgba(230, 179, 69, 0.381);
    pointer-events: auto;  /* Esto asegura que el popup siga siendo interactivo */
}

body.overlayActive {
    pointer-events: none;
}

#popUpProducto:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    max-height: 100%;

  }
  
 /* #popUpProducto:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1000;
  }*/

#equis
{
    height: 30px;
}
#equisButton
{
    margin-top: 5px;
    position: absolute;
    right: 1.7%;
    background-color: transparent;
    border: none;
}

#tituloProducto
{
    position: absolute;
    font-size: x-large;
    left: 4%;
    top: 0.5%;
    font-weight: bolder;
}

#separadorHorizontal1
{
    background-color: rgb(142, 142, 142);
    margin-top: 65px;
}

.scrollBoxinner {
    left: 42%;
    max-height: 425px; /* Puedes ajustar este valor según tus necesidades */
    overflow-y: auto;
    position: relative;
    max-width: 685px; 
}

.scrollBoxinner::-webkit-scrollbar
{
    width: 10px;
}
.scrollBoxinner::-webkit-scrollbar-thumb
{
    background: #8BB9E0;
    height: 10px; /* o el tamaño que prefieras */
    border-radius: 8px; /* para bordes redondeados */
}
#encabezado
{
    display: flex; 
}
#precioText
{
    position: relative;
    font-weight: bold;
    left: 2%;
    top: 0%;
    font-size: x-large;
    display: flex;  

}
#DescText
{
    position: relative;
    left: 22%;
    top: 0%;
    font-size: x-large;
    font-weight: lighter;
    color: #7d7777;
}
#porcentajePopUp
{
    height: 30px; 
    position: relative;
    left: 31%;
    margin-top: 4.2%;
}
#DescText2
{
    position: relative;
    left: 32%;
    top: 0%;
    font-size: x-large;
    color: #303ce1;

}
#disponible
{
    position: relative;
    right: 0%;
    top: 0%;
    font-size: x-large;
    color: #ffffff;
    background-color: #8ED991;
    height: 40px;
    width: 170px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center; 
    display: flex;  
    font-weight: lighter;     
    margin-top: 0%;
}
#descripcion
{
    position: relative;
    right: 0%;
    top: 0%;
    font-size: x-large; 
    color: #7B7972;
}
#textoDescrip
{
    position: relative;
    right: 0%;
    top: 0%;
    color: #7B7972;
}
#ingredientesText
{
    position: relative;
    right: 0%;
    top: 0%;
    font-size: x-large; 
    color: #7B7972;
}
#textoIngred
{
    position: relative;
    right: 0%;
    top: 0%;
    color: #7B7972;
}
#RadioOptions1
{
    position: relative;
    right: 0%;
    top: 0%;
    display: flex;
    align-items: flex-start;
    margin-top: 20xp;
    margin-left: 1%;
}
#RadioOptions2
{
    position: relative;
    right: 0%;
    top: 0%;
    display: flex;
    align-items: flex-start;
    margin-left: 0.5%;
}

/* Aumenta el tamaño de los botones de radio */
#RadioOptions1 input[type="radio"], #RadioOptions2 input[type="radio"] {
    transform: scale(2.2); /* Aumenta el tamaño en 2 veces (puedes ajustar este valor) */
    margin-right: 25px;
    margin-top: 3%;
}

/* Añade margen a la izquierda de los labels para separarlos más del botón de radio */
#labelDisp
{
    margin-left: 80px; 
    background-color: #8ED991;
    color: #ffffff;
    height: 35px;
    width: 140px;
    border-top-left-radius: 20px;   /* Top-left corner rounded */
    border-bottom-left-radius: 20px; /* Bottom-left corner rounded */
    border-top-right-radius: 20px;   /* Top-left corner rounded */
    border-bottom-right-radius: 20px; /* Bottom-left corner rounded */
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center; 
    display: flex;  
    font-weight: lighter;   
    margin-top: 2%;
}
#labelt
{
    margin-top: 3%;
}


#fotopRODUCTO
{
    position: absolute;
    top: 19%;
    left: 6%;
    height: 350px;
    border-radius: 50%;        /* Hace que la imagen sea un círculo */
    overflow: hidden; 
    border: 6px solid rgb(244, 164, 79);

}

#separadorHorizontal2
{
    background-color: rgb(142, 142, 142);
    margin-top: 2px;
}
.Bspagar
{
    position: absolute;
    height: 45px;
    top: 89%;
    border: none;
    border-top-left-radius: 10px;   /* Top-left corner rounded */
    border-bottom-left-radius: 10px; /* Bottom-left corner rounded */
    border-top-right-radius: 10px;   /* Top-left corner rounded */
    border-bottom-right-radius: 10px; /* Bottom-left corner rounded */
}

#BAgregarSeguirComprando
{
   background-color: rgb(195, 192, 192);
   right: 25%;
   width: 200px;
}
#BAgregarEirPagar
{
    background-color: rgb(153, 147, 147);
    right: 3%;
    width: 250px;
}


.sumatoria
{
    height: 30px;
    background-color: transparent;
    border: none;

}
.sumatoriadiv
{
    position: absolute;
    right: 43.2%;
    top: 88.5%;
    border: 1px solid rgb(159, 159, 159);
    border-top-left-radius: 10px;   /* Top-left corner rounded */
    border-bottom-left-radius: 10px; /* Bottom-left corner rounded */
    border-top-right-radius: 10px;   /* Top-left corner rounded */
    border-bottom-right-radius: 10px; /* Bottom-left corner rounded */
    display: flex;
    align-items: center; 
    height: 50px;
}
#mas
{
    height: 35px;
}
#cantidadProducto
{
    text-align: center;
}

